<form action="/pet/create" method="POST">
	<input type="text" placeholder="Breed" name="breed" > <br />
	<input type="text" placeholder="Type" name="type" >  <br />
  <input type="text" placeholder="Name" name="name" >  <br />
	<input type="submit" value="Add Pet" />
</form>
