<form action="/user1/create" method="POST">
	<h2>Create a User</h2>
	<input type="text" placeholder="First Name" name="firstName" > <br />
	<input type="text" placeholder="Last Name" name="lastName" >
	<input type="text" placeholder="Pet ID" name="petId" >
	<input type="submit" value="Create User1" />
</form>
