<form action="/customer/update/<%= customer.id%>" method="POST">
	<h2>Edit a Customer</h2>

	<input value="<%= customer.name %>" type="text" name="name" > <br />
	<input value="<%= customer.email %>" type="text" name="email" > <br />
	<input value="<%= customer.state %>" type="text" name="state" > 
	<input type="submit" value="Edit customer" /> 
</form>